@media (max-width: 1160px) {
  .header {
    &__socials {
      display: none;
    }
    &__menu {
      margin-right: 0;
    }
  }
}

@media (max-width: 970px) {
  .purple-cirlce {
  }
  .header {
    padding-top: 1rem;
    background-color: $background_color;
    &__wrapper {
      justify-content: space-around;
      align-items: center;
    }
    &__phone {
      display: none;
    }
    &__purple-light {
      top: 70%;
      left: 30%;
      width: 280px;
      height: 280px;
    }
  }

  .purple-cirlce {
    top: 320px;
    width: 48px;
    height: 48px;
    left: 92%;
  }
}

@media (max-width: 730px) {
  .logo {
    width: inherit;
    &__info {
      display: none;
    }
  }
  .header {
    min-height: 5.5rem;
    &__logo {
      width: 27px;
    }
  }
}

@media (max-width: 550px) {
  .navigation {
    width: 100%;
  }
  .header {
    &__wrapper {
      justify-content: space-between;
    }
    &__logo {
      display: none;
    }
    &__menu {
      width: 100%;
      &-item {
        font-size: 1.2rem;
        padding: 0 1.6rem;
        &:last-child {
          display: none;
        }
      }
    }
    &__purple-light {
      top: 0;
      left: 0;
      width: 259px;
      height: 259px;
    }
  }
}
